.add-view {
  background-image: url("../../assets/teal-splatter.png");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}