html, main {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", Arial, sans-serif;
}

header {
  border-bottom: 3px dashed black;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.nails {
  height: 500px;
  width: auto;
}
.title {
  border-bottom: 2px solid transparent;
  color: black;
}

.title:hover {
  border-bottom: 2px solid black;
}

@media screen and (max-width: 550px) {
  .title {
    margin-left: 20vw;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
}
