html, main {
  height: 100%;
  width: 100%;
  font-family: "Roboto", Arial, sans-serif;
}

header {
  border-bottom: 3px dashed black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-style: italic;
}

.nails {
  height: 500px;
  width: auto;
}

