.home-view {
  background-image: url("../../assets/coral-splatter.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-color: #f6f6f6;
}

.buttons {
  display: flex;
  justify-content: center;
}

.nav-home {
  margin: 2em;
  border: 2px solid gold;
  background-color: white;
}

.bottle-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.bottle-icon {
  margin-top: 8vh;
  border-radius: 50%;
  border: 2px solid gold;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2em;
  margin-right: 2em;
}

h2 {
  font-size: 2em;
}

.directive {
  font-size: 1.5em;
}

@media screen and (max-width: 525px) {
  .bottle-icon {
    width: 70%;
    margin-top: 1vh;
  }
  .buttons {
    flex-direction: column;
    align-items: center;
  }
  .nav-home {
    margin: .5em;
  }
  h2 {
    font-size: 1.5em;
    margin: .25em;
  }
  .directive {
    font-size: 1em;
    margin: .25em;
  }
}